<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap-switch.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-switch.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />



</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <div class="container" align="center">
        <div class="row" align="center">
            <div id="div-logo" align="center">
                <img src="../../../resources/images/logo.jpg" width="467" height="107"/>
            </div>
        </div>
        <form th:action="@{/search/submit}" method="get"  th:object="${searchForm}" id="searchForm" >
            <div class="row">
                <div id="custom-search-input" align="center">
                    <div class="input-group col-md-8">
                        <input type="text" class="  search-query form-control" placeholder="Seek" th:field="*{mainQuery}" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="submit" form="searchForm">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                    </div>
                </div>
            </div>
            <div class="row" id="qe-div">
                <div id="qe-div-child" align="center">
                    <span>
                        <label for="qe-checkbox"><b>Query Expansion</b></label>
                        <input type="checkbox" id="qe-checkbox" name="my-checkbox" checked="checked" data-size="mini"
                                />
                    </span>
                    <input type="hidden" id="myhidden" th:field="*{useQueryExpansion}" name="my-hidden"/>
                </div>
            </div>
            <div class="row col-md-offset-2 advanced-search" align="left">
                <b>Advanced search</b>
            </div>
            <div class="row">
                <div id="title-input" align="center" class="col-md-6 col-md-offset-2 advanced-search">
                    <input type="text" class="form-control" placeholder="Title" th:field="*{titleQuery}" />
                </div>
            </div>
            <div class="row">
                <div id="author-input" align="center" class="col-md-6 col-md-offset-2 advanced-search">
                    <input type="text" class="form-control" placeholder="Author" th:field="*{authorQuery}"/>
                </div>
            </div>
            <div class="row">
                <div id="keywords-input" align="center" class="col-md-6 col-md-offset-2 advanced-search">
                    <input type="text" class="form-control" placeholder="Keywords" th:field="*{keywordsQuery}"/>
                </div>
            </div>


        </form>
    </div>
</div>
<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
<script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/bootstrap-switch.min.js" th:src="@{/resources/js/bootstrap-switch.min.js}"></script>

<script>
$("[name='my-checkbox']").bootstrapSwitch();
$("[name='my-checkbox']").change(function(){
    $("[name='my-hidden']").val($(this).val());
});
</script>
</body>
</html>